p:first-letter{font-weight:bold;
color:red;}
		
		p{color:black;
	      text-indent:200px;
          text-decoration:none; 
}		
#output{
 margin-top:5%;}
		
		p:visited{text-decoration: none;

        }
        body{
  background-color:#ccc;}